@model OpenWeather.Models.OpenWeatherApp
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <p class="instruction">Select city for Weather Report</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "weatherForm" }))
    {
        <div class="form-group">
            <div class="form-item">
                <input type="checkbox" name="cities" value="Paris" id="Paris" />
                <label for="Paris">Paris</label>
            </div>
            <div class="form-item">
                <input type="checkbox" name="cities" value="London" id="London" />
                <label for="London">London</label>
            </div>
            <div class="form-item">
                <input type="checkbox" name="cities" value="Beijing" id="Beijing" />
                <label for="Beijing">Beijing</label>
            </div>
            <div class="form-item">
                <input type="checkbox" name="cities" value="Washington" id="Washington" />
                <label for="Washington">Washington</label>
            </div>
        </div>
        <button type="submit" name="action" value="showLast" class="btn btn-primary">Show Last</button>
        <button type="submit" name="action" value="showHistory" class="btn btn-primary">Show All</button>
        <button type="submit" name="action" value="downloadLast" class="btn btn-primary">Download Last</button>
        <button type="submit" name="action" value="downloadHistory" class="btn btn-primary">Download All</button>
    }
    <div id="message">
        @if (Model.weatherInfos != null && Model.weatherInfos.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Country</th>
                        <th>Current Temperature</th>
                        <th>Feels Like</th>
                        <th>Weather</th>
                        <th>Wind</th>
                        <th>Humidity</th>
                        <th>Icon</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var info in Model.weatherInfos)
                    {
                        <tr>
                            <td>@info.Name</td>
                            <td>@info.Country</td>
                            <td>@info.Temp °C</td>
                            <td>@info.TempFeelsLike °C</td>
                            <td>@info.Descrpition</td>
                            <td>@info.WindSpeed Km/h</td>
                            <td>@info.Humidity %</td>
                            <td><img src="@info.Icon" alt="Weather icon"></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@Html.Raw(Model.response)</p>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("weatherForm");

        form.addEventListener("submit", function (event) {
            var checkboxes = document.getElementsByName("cities");
            var selectedCities = [];

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedCities.push(checkboxes[i].value);
                }
            }

            var hiddenInputCities = document.createElement("input");
            hiddenInputCities.type = "hidden";
            hiddenInputCities.name = "selectedCities";
            hiddenInputCities.value = selectedCities.join(",");
            form.appendChild(hiddenInputCities);
        });
    });
</script>
