@model OpenWeather.Models.OpenWeatherApp
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <p class="instruction">Select city for Weather Report</p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "weatherForm" }))
    {
        <div class="form-group">
            <div class="form-item">
                <input type="checkbox" name="cities" value="London" id="London" />
                <label for="London">London</label>
            </div>
            <div class="form-item">
                <input type="checkbox" name="cities" value="Paris" id="Paris" />
                <label for="Paris">Paris</label>
            </div>
            <div class="form-item">
                <input type="checkbox" name="cities" value="Beijing" id="Beijing">
                <label for="Beijing">Beijing</label>
            </div>
            <div class="form-item">
                <input type="checkbox" name="cities" value="Washington" id="Washington" />
                <label for="Washington">Washington</label>
            </div>
        </div>
        <button type="submit" name="action" value="showLast" class="btn btn-primary">Show Last</button>
        <button type="submit" name="action" value="showHistory" class="btn btn-primary">Show All</button>
        <button type="submit" name="action" value="downloadLast" class="btn btn-primary">Download Last</button>
        <button type="submit" name="action" value="downloadHistory" class="btn btn-primary">Download All</button>
    }
</div>
@if (Model.WeatherInfos != null && Model.WeatherInfos.Any())
{
    <table class="table message">
        <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Date</th>
            <th>Current Temp</th>
            <th>Feels Like</th>
            <th>Description</th>
            <th>Wind Speed</th>
            <th>PM25</th>
            <th>Pollution Level</th>
            <th>Pollution Description</th>
            <th>Humidity</th>
            <th>Pressure</th>
            <th>Visibility</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model.WeatherInfos)
            {
                <tr>
                    <td>@info.Name</td>
                    <td>@info.Country</td>
                    <td>@info.Dt</td>
                    <td>@info.Temp °C</td>
                    <td>@info.TempFeelsLike °C</td>
                    <td>@info.Descrpition</td>
                    <td>@info.WindSpeed km/h</td>
                    <td>@info.PM25 μ/m3</td>
                    <td>@info.PollutionLevel</td>
                    <td style="color:@info.PollutionDescriptionColor">@info.PollutionDescription</td>
                    <td>@info.Humidity %</td>
                    <td>@info.Pressure hPa</td>
                    <td>@info.Visibility m</td>
                    <td><img class="size-image" src="@($"http://openweathermap.org/img/wn/{info.Icon}.png")" alt="NULL"></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="container message">
        <p>@Html.Raw(Model.Response)</p>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("weatherForm");

        form.addEventListener("submit", function (event) {
            var checkboxes = document.getElementsByName("cities");
            var selectedCities = [];

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedCities.push(checkboxes[i].value);
                }
            }

            var hiddenInputCities = document.createElement("input");
            hiddenInputCities.type = "hidden";
            hiddenInputCities.name = "selectedCities";
            hiddenInputCities.value = selectedCities.join(",");
            form.appendChild(hiddenInputCities);
        });
    });
</script>
